
/*INICIO*/
#inicio{
    text-align: center;

}
#ubicacion{
    text-align: center;
}
#horario{
    text-align: center;
}
#fotos{
    text-align: center;
}
main{
    background-color:#cffcd2;
    justify-content: center;
}
img {
    width: 300px;
}

h1,h2{
    font-family: "Moon Dance";
}
p{
    font-family: "Gentium Plus";
}

/* Formulario en CSS */

#formulario{
    text-align: center;
}

.form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #52c759;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Gentium Plus";
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: #333;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    
}

textarea {
    resize: vertical;
    min-height: 60px;
}

input:focus, select:focus, textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.button-submit {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: wheat;
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button-submit:hover {
    background: whitesmoke;
}

/*FOOTER*/
#footer{
    text-align: center;
    justify-content: center;
}
/*Botones*/
.whatsapp-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #d3b0dc; /* Color marrón del botón */
    color: rgb(50, 47, 47);
    padding: 12px 20px;
    border-radius: 30px; /* Bordes redondeados */
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: serif;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.whatsapp-button:hover {
    background-color: #cd9fcc; /* Cambio de color al pasar el mouse */
}

